<!doctype html>
<html lang="en" style="font-size: 37.5px">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>答题活动</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/vant@2.10/lib/index.css"/>
  <style>

  </style>
</head>
<body>
<div id="app" style="height: 100%;">
  <div style="position:absolute;left: 0; width: 300px">
    <div style="position:relative;">
      <div style="position: static; left: 100px;">
        sssssssssssss
      </div>
    </div>
  </div>

<!--  <van-button @click="openApp">唤起京动app</van-button>-->
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.10/lib/vant.min.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data() {
      return {

        }
      },
      computed: {

      },
      created() {
      },
      methods: {
        openApp() {
          window.location.href = 'https://t.asczwa.com/taobao'
        }
      }
    });
</script>
</body>
</html>
