<section>
  <div class="group-detail-box">
    <el-row :gutter="20">
      <el-col :span="12" class="margin-tb20" style="width:49%;margin-right:18px;padding-right:20px;height:280px;border:1px solid #e3e6ed;box-sizing:border-box;padding:15px;border-radius:5px;">
        <el-row class="margin-tb5">
          <el-col :span="4">
            <img :src="showImgTzt(infoForm.relativeHeadImgUrl)" style="width:76px;height:76px;border-radius:76px;border:1px solid #ddd;" /></el-col>
          <el-col :span="20">
            <el-row style="position:relative;">
              <span class="p-grey3" style="font-size:20px;">{{infoForm.adviserName||''}}</span>
              <span v-html="showStatus(infoForm)" class="grouplist-status" :class="showClass(infoForm)"></span>
              <span style="dispaly:inline-block;position:absolute;right:0;">
									<span class="gray-col999">{{infoForm.attention||'0'}}人气</span>
								</span>
            </el-row>
            <el-row class="margin-tb10">
              <el-col :span="12"><p class="p-grey1" style="line-height:20px;">投顾账号：{{infoForm.loginUsername||'--'}}</p></el-col>
            </el-row>
            <el-row class="margin-tb10">
              <el-col :span="12"><p class="p-grey1" style="line-height:20px;">投顾等级：<span v-html="showLevel(infoForm.adviserLevel)"></span></p></el-col>
            </el-row>
            <el-row class="margin-tb10">
								<span>
                                    <span class="p-label gray-colFF79 adviser-label" v-for="item in infoForm.characteristic">{{item}}</span>
                                </span>
            </el-row>
          </el-col>
        </el-row>
        <el-row class="p-grey1">
          <p class="margin-tb10">投顾说明：{{infoForm.signature}}</p>
          <p class="text-ellipsis2" :title="infoForm.description">投顾介绍：{{infoForm.description}}</p>
        </el-row>
      </el-col>
      <el-col :span="12"  class="margin-tb20" style="width:49%;padding-left:20px;height:280px;border:1px solid #e3e6ed;box-sizing:border-box;padding:15px;border-radius:5px;">
        <el-row class="margin-tb10" style="text-align:right;">
          <el-button type="primary" @click="handleEdit(infoForm)">编辑</el-button>
          <el-button type="primary"  @click="handlePunish(infoForm)">处罚</el-button>
          <el-button type="primary" v-if="infoForm.status != 1" @click="handleReview(infoForm)">审核</el-button>
        </el-row>
        <el-row class="margin-tb20">
          <el-col :span="14"><span class="p-grey1 margin-r20">性别</span><span>{{infoForm.sex == 1 ? '男' :infoForm.sex == 2 ? '女':'保密'}}</span></el-col>
          <el-col :span="10"><span class="p-grey1 margin-r20">执业证号</span><span>{{infoForm.practiseCode}}</span></el-col>
        </el-row>
        <el-row class="margin-tb20">
          <el-col :span="14"><span class="p-grey1 margin-r20">学历</span><span v-html="showEdu(infoForm)"></span></el-col>
          <el-col :span="10"><span class="p-grey1 margin-r20">执业注册日期</span><span v-html="showTime(infoForm.practiseCreateTime)"></span></el-col>
        </el-row>
        <el-row class="margin-tb20">
          <el-col :span="14"><span class="p-grey1 margin-r20">手机号码</span><span>{{infoForm.mobile}}</span></el-col>
          <el-col :span="10"><span class="p-grey1 margin-r20">执业经验</span><span>{{infoForm.experienceYear}}</span></el-col>
        </el-row>
        <el-row class="margin-tb20">
          <el-col :span="14"><span class="p-grey1 margin-r20">所属营业部</span><span>{{infoForm.businessDepartment}}</span></el-col>
          <el-col :span="10"><span class="p-grey1 margin-r20">精选投顾</span><span>{{infoForm.trumpAdviser == 1 ? '是' : '否'}}</span></el-col>
        </el-row>
      </el-col>
    </el-row>
    \x3c!-- 调仓/持仓记录 --\x3e
    <el-row class="border-bottom-grey">
      <el-row style="margin-bottom:10px;">
        <el-radio-group class="radio-group" v-model="recordType" @change="changeRecordType">
          <el-radio-button label="0">基本数据</el-radio-button>
          <el-radio-button label="1">考核情况</el-radio-button>
          <el-radio-button label="2">投顾处罚</el-radio-button>
        </el-radio-group>
      </el-row>
      <el-row v-if="recordType==0">
        <el-table v-loading="tclistLoading" :data="tclist" highlight-current-row style="width: 100%;">
          <el-table-column prop="yearIncomeAVG" label="组合平均近1年收益(%)">
          </el-table-column>
          <el-table-column prop="winRateAVG" label="组合近1年胜率(%)">
          </el-table-column>
          <el-table-column prop="clientCount" label="产品销售量">
          </el-table-column>
          <el-table-column prop="clientMoney" label="产品销售额(元)">
          </el-table-column>
          <el-table-column prop="productCount" label="产品总数">
          </el-table-column>
          <el-table-column prop="productShare" label="产品分享数">
          </el-table-column>
          <el-table-column prop="productPraise" label="产品点赞数">
          </el-table-column>
          <el-table-column prop="productPeview" label="产品评论数">
          </el-table-column>
        </el-table>
        \x3c!--工具条--\x3e
        <el-col :span="24" class="toolbar">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="pageSizes"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next"
            :total="total" style="float:right;">
          </el-pagination>
        </el-col>
      </el-row>
      <el-col>
        <el-table v-if="recordType==1" v-loading="cclistLoading" :data="cclist" highlight-current-row style="width: 100%;">
          <el-table-column prop="latestDate" label="统计时段" :formatter="showDate">
          </el-table-column>
          <el-table-column prop="contentScore" label="内容生产评分">
          </el-table-column>
          <el-table-column prop="serviceScore" label="投顾服务评分">
          </el-table-column>
          <el-table-column prop="salesScore" label="产品销售评分">
          </el-table-column>
          <el-table-column prop="averageScore" label="综合评分">
          </el-table-column>
        </el-table>
        <el-col :span="24" class="toolbar" v-if="recordType==1">
          <el-pagination
            @size-change="handleSizeChangeAssess"
            @current-change="handleCurrentChangeAssess"
            :page-sizes="pageSizesAssess"
            :page-size="pageSizeAssess"
            layout="total, sizes, prev, pager, next"
            :total="totalAssess" style="float:right;">
          </el-pagination>
        </el-col>
      </el-col>
      <el-col>
        <el-table v-if="recordType==2" v-loading="flowlistLoading" :data="flowList" highlight-current-row style="width: 100%;">
          <el-table-column label="处罚类别" prop="punishType" style="width:20%;" :formatter="showType">
          </el-table-column>
          <el-table-column label="处罚期限(天)" prop="punishPeriod" style="width:20%;" :formatter="showPeriod">
          </el-table-column>
          <el-table-column label="处罚原因" prop="punishReason" style="width:20%;" :formatter="showReason">
          </el-table-column>
          <el-table-column  label="处罚开始时间" prop="punishStartTime" style="width:20%;">
          </el-table-column>
          <el-table-column label="处罚结束时间" prop="punishEndTime" style="width:20%;">
          </el-table-column>
        </el-table>
        \x3c!--工具条--\x3e
        <el-col :span="24" class="toolbar" v-if="recordType==2">
          <el-pagination
            @size-change="handleSizeChangeFlow"
            @current-change="handleCurrentChangeFlow"
            :page-sizes="pageSizesFlow"
            :page-size="pageSizeFlow"
            layout="total, sizes, prev, pager, next"
            :total="totalFlow" style="float:right;">
          </el-pagination>
        </el-col>
      </el-col>
    </el-row>
    <el-row class="border-bottom-grey">
      <el-row style="margin-bottom:10px;">
        <el-radio-group class="radio-group" v-model="type">
          <el-radio-button label="1">组合</el-radio-button>
          <el-radio-button label="2">直播</el-radio-button>
          <el-radio-button label="3">视频</el-radio-button>
          <el-radio-button label="4">观点</el-radio-button>
          <el-radio-button label="5">回答</el-radio-button>
        </el-radio-group>
      </el-row>
      <port v-if="type == 1" :userId="$route.query.userId"></port>
      <broad v-if="type == 2" :userId="$route.query.userId"></broad>
      <vedio v-if="type == 3" :userId="$route.query.userId"></vedio>
      <comment v-if="type == 4" :userId="$route.query.userId"></comment>
      <answer v-if="type == 5" :userId="$route.query.userId"></answer>
    </el-row>

    \x3c!--编辑界面--\x3e
    <el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
      <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
        <el-form-item label="投顾账号">
          <span>{{editForm.loginUsername}}</span>
        </el-form-item>
        <el-form-item label="投顾名称" prop="name">
          <el-input v-model="editForm.name"></el-input>
        </el-form-item>
        <el-form-item label="性别">
          <el-select v-model="editForm.sex" placeholder="请选择">
            <el-option
              v-for="item in sexs"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="学历">
          <el-select v-model="editForm.education" placeholder="请选择">
            <el-option
              v-for="item in educations"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="手机号码" prop="mobile">
          <el-input v-model="editForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="所属营业部">
          <el-input v-model="editForm.businessDepartment"></el-input>
        </el-form-item>
        <el-form-item label="投顾等级" prop="adviserLevel">
          <el-select v-model="editForm.adviserLevel">
            <el-option v-for="item in adviserLevelOptions" :value="item.id" :label="item.name"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="执业证号" prop="practiseCode">
          <el-input v-model="editForm.practiseCode"></el-input>
        </el-form-item>
        <el-form-item label="执业注册日期">
          <el-date-picker
            v-model="editForm.practiseCreateTime"
            type="date"
            placeholder="选择日期"
            @change="changePractiseCreateTime"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="执业经验">
          <span>{{editForm.experienceYear}}</span>
        </el-form-item>
        <el-form-item label="投资风格">
          <el-select v-model="editForm.characteristic" placeholder="请选择投顾风格" multiple multiple-limit="3">
            <el-option v-for="item in charas" :key="item.id" :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="投顾说明" prop="signature">
          <el-input type="textarea" v-model="editForm.signature"></el-input>
        </el-form-item>
        <el-form-item label="投顾介绍" prop="description">
          <el-input type="textarea" v-model="editForm.description"></el-input>
        </el-form-item>
        <el-form-item label="投顾头像/形象" class="adviser-info-head">
          <el-upload
            class="avatar-uploader adviser-head"
            ref="editupload"
            :action="uploadpath"
            name="idPic"
            :show-file-list="false"
            :on-change="handleEditPreview"
            :on-success="handleSuccessHeadEdit">
            <img v-if="editForm.relativeHeadImgUrl" :src="showImg(editForm.relativeHeadImgUrl)" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon adviser-info-icon"></i>
          </el-upload>
          <img v-if="editForm.adviserPicture" class="avatar-uploader-icon adviser-picture-icon" :src="showImg(editForm.adviserPicture)" @click="upload">
          <div v-else class="detail-upload-img" @click="upload"></div>

        </el-form-item>
        <el-form-item label="精选投顾">
          <el-radio-group v-model="editForm.trumpAdviser">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click.native="editSubmit" :loading="editLoading">确定</el-button>
        <el-button @click.native="clearEdit">取消</el-button>
      </div>
    </el-dialog>


    \x3c!--审核界面--\x3e
    <el-dialog title="审核" :visible.sync="reviewFormVisible" :close-on-click-modal="false" :before-close="clearReview">
      <el-form :model="reviewForm" label-width="120px" :rules="reviewFormRules" ref="reviewForm">
        <el-form-item label="投顾账号">
          <span>{{reviewForm.loginUsername}}</span>
        </el-form-item>
        <el-form-item label="投顾名称">
          <span>{{reviewForm.adviserName}}</span>
        </el-form-item>
        <el-form-item label="性别">
          <span>{{reviewForm.sex}}</span>
        </el-form-item>
        <el-form-item label="学历">
          <span>{{showEdu(reviewForm)}}</span>
        </el-form-item>
        <el-form-item label="手机号码">
          <span>{{reviewForm.mobile}}</span>
        </el-form-item>
        <el-form-item label="所属营业部">
          <span>{{reviewForm.businessDepartment}}</span>
        </el-form-item>
        <el-form-item label="投顾等级">
          <span v-html="showAdviserLevel(reviewForm)"></span>
        </el-form-item>
        <el-form-item label="执业证号">
          <span>{{reviewForm.practiseCode}}</span>
        </el-form-item>
        <el-form-item label="执业注册日期">
          <span>{{reviewForm.practiseCreateTime}}</span>
        </el-form-item>
        <el-form-item label="执业经验">
          <span>{{reviewForm.experienceYear}}</span>
        </el-form-item>
        <el-form-item label="投顾风格">
          <span v-html="showChara(reviewForm.characteristic)"></span>
        </el-form-item>
        <el-form-item label="投顾说明">
          <span v-html="reviewForm.signatureEdit || reviewForm.signature"></span>
        </el-form-item>
        <el-form-item label="投顾介绍">
          <span  :class="reviewForm.descriptionEdit ? 'red' : ''" v-html="reviewForm.descriptionEdit || reviewForm.description"  ></span>
        </el-form-item>
        <el-form-item label="投顾头像/形象">
          <span><img :src="showImg(reviewForm.relativeHeadImgUrl)" style="width:111px;height:111px;margin-right:20px;"></span>
          <span><img :src="showImg(reviewForm.adviserPicture)" style="width:111px;height:148px;"></span>
        </el-form-item>
        <el-form-item label="审核结果">
          <el-radio-group v-model="reviewForm.status" v-if="$route.query.status == -1">
            <el-radio label="0">审核通过</el-radio>
            <el-radio label="-1">审核驳回</el-radio>
          </el-radio-group>
          <el-radio-group v-model="reviewForm.status" v-else>
            <el-radio label="1">审核通过</el-radio>
            <el-radio label="2">审核驳回</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item v-if="reviewForm.status==2" label="驳回原因" prop="statusContent">
          <el-select v-model="reviewForm.statusContent" clearable placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.name"
              :label="item.name"
              :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click.native="reviewSubmit" :loading="reviewLoading">确定</el-button>
        <el-button @click.native="clearReview">取消</el-button>
      </div>
    </el-dialog>

    \x3c!--处罚--\x3e
    <el-dialog title="处罚" :visible.sync="punishFormVisible" :close-on-click-modal="false">
      <el-form :model="punishForm" label-width="120px" :rules="punishFormRules" ref="punishForm">
        <el-form-item label="投顾账号">
          <span>{{punishForm.loginUsername}}</span>
        </el-form-item>
        <el-form-item label="投顾名称">
          <span>{{punishForm.name}}</span>
        </el-form-item>
        <el-form-item label="手机号码">
          <span>{{punishForm.mobile}}</span>
        </el-form-item>
        <el-form-item label="处罚类别" prop="punishType">
          <el-select v-model="punishForm.punishType" placeholder="请选择处罚类别">
            <el-option label="封号" value="0"></el-option>
            <el-option label="禁言" value="1"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="处罚期限" prop="punishPeriodType">
          <el-select v-model="punishForm.punishPeriodType" placeholder="请选择处罚期限" @change="checked=>handlePeriod(checked,infoForm)">
            <el-option label="1周" value="1"></el-option>
            <el-option label="4周" value="2"></el-option>
            <el-option label="12周" value="3"></el-option>
            <el-option label="长期(手动解除)" value="0"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="处罚原因" prop="punishReason">
          <el-select v-model="punishForm.punishReason" placeholder="请选择处罚原因">
            <el-option label="言论违规" value="1"></el-option>
            <el-option label="产品违规" value="2"></el-option>
            <el-option label="其它" value="3"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click.native="punishSubmit" :loading="punishLoading">确定</el-button>
        <el-button @click.native="clearPunish">取消</el-button>
      </div>
    </el-dialog>

    <el-dialog title='上传图片' :visible.sync='avatarVisible' :close-on-click-modal='false'>
      图片上传
      <el-upload
        style="display: inline-block;margin-bottom: 10px"
        action="/"
        :show-file-list="false"
        :auto-upload="false"
        :on-change="uploadChange">
        <el-button type="primary">请选择图片</el-button>
      </el-upload>
      <div style="width: 100%;min-width: 200px;min-height: 200px;border: 1px solid #eee">
        <img id="image" :src="img" style="max-width: 100%">
      </div>
      <div id="preview" style="width: 111px;height: 148px;overflow: hidden;border: 1px solid #eee;margin: 10px 0"></div>
      <el-button @click="left" type="primary"><i class="fa fa-undo"></i> 向左旋转</el-button>
      <el-button @click="right" type="primary"><i class="fa fa-repeat"></i> 向右旋转</el-button>
      <el-button @click="bigger" type="primary"><i class="fa fa-search-plus"></i></el-button>
      <el-button @click="smaller" type="primary"><i class="fa fa-search-minus"></i></el-button>
      <el-button @click="reset" type="primary"><i class="fa fa-refresh"></i></el-button>
      <el-button @click="save" type="primary">保存</el-button>
    </el-dialog>
</section>
