<section>
  <div class="group-detail-box">
    <el-row :gutter="20" class="border-bottom-grey">
      <el-col :span="12" class="margin-tb20" style="width:49%;margin-right:18px;padding-right:20px;height:240px;border:1px solid #e3e6ed;box-sizing:border-box;padding:15px;border-radius:5px;">
        <el-row class="margin-tb5">
          <el-col :span="4"><img :src="showImgTzt(infoForm.relativeHeadImgUrl)" style="width:76px;height:76px;border-radius:76px;border:1px solid #ddd;" /></el-col>
          <el-col :span="20" style="margin-top:13px;">
            <el-row style="position:relative;">
              <span class="p-grey3" style="font-size:20px;">{{infoForm.portfolioName||''}}</span>
              <span v-html="showStatus(infoForm)" class="grouplist-status" :class="showClass(infoForm)"></span>
              <span style="dispaly:inline-block;position:absolute;right:0;">
									<span class="gray-col999">{{infoForm.attention||'0'}}人气</span>
								</span>
            </el-row>
            <el-row class="margin-tb10">
              <el-col :span="12"><p class="p-grey1" style="line-height:20px;">管理人：{{infoForm.name||'--'}}</p></el-col>
              <el-col :span="12" style="text-align:right;"><p></p></el-col>
              <span style="dispaly:inline-block;position:absolute;right:0;top:-3px;">
									<span class="p-label gray-colFF79">{{infoForm.portfolioType == 0 ? '股票组合' : infoForm.portfolioType == 1 ? '基金组合' : '混合组合'}}</span>
									<span class="p-label gray-colFF79">{{infoForm.characteristicOne||'--'}}</span>
									<span class="p-label gray-colFF79" style="margin-top:5px;" v-for="item in characteristicTwoList">{{item}}</span>
								</span>
            </el-row>
          </el-col>
        </el-row>
        <el-row class="p-grey1 margin-tb10">
          <p>组合介绍：</p>
          <div class="text-ellipsis2" style="height:auto;" :title="showIllustrate(infoForm.illustrate)">
            <div v-text="showIllustrate(infoForm.illustrate)"></div>
          </div>
        </el-row>
        <el-row class="p-grey1 margin-tb10">
          <el-col :span="12">创建日期：{{infoForm.createTime.slice(0,10)}}</el-col>
          <el-col :span="12" class="textRt">
            <span v-if="infoForm.costFlag==1 && infoForm.discountCost" class="p-red"><span style="color:#ccc;text-decoration:line-through;">{{infoForm.cost}}元</span>{{infoForm.discountCost}}元/{{infoForm.costPeriod|showPeriod}}</span>
            <span v-else-if="infoForm.costFlag==1" class="p-red">{{infoForm.cost||0}}元/{{infoForm.costPeriod|showPeriod}}</span>
            <span class="pl10" v-if="infoForm.costFlag==1">{{infoForm.buyCount||0}}人购买</span>
            <span v-if="infoForm.costFlag==0" class="p-red">免费</span>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="12"  class="margin-tb20" style="width:49%;padding-left:20px;height:240px;border:1px solid #e3e6ed;box-sizing:border-box;padding:15px;border-radius:5px;">
        <el-row class="margin-tb5" style="margin-bottom:20px;">
          <el-col :span="5" style="border-right:1px solid #e3e6ed;">
            <p :class="infoForm.totalIncome>=0?'p-red':'p-green'" style="line-height:40px;font-size:20px;font-weight:bold;">{{infoForm.yearIncome || 0}}%</p>
            <p class="p-grey0" style="line-height:20px;width:72px;text-align:center;">近1年收益</p>
          </el-col>
          <el-col :span="19" style="padding-left:20px;">
            <el-row style="line-height:40px;">
              <el-col :span="16"><p class="p-grey1">近1年收益跑赢<span class="p-orange">{{infoForm.beatRate || 0}}%</span>的组合</p></el-col>
              <el-col :span="8" class="textRt"><el-button :disabled="this.isDisabledStatus" type="primary" @click="handleTc">调仓</el-button></el-col>
            </el-row>
            <el-row style="line-height:20px;">
              <el-col :span="6"><p class="p-grey1">胜率 <span class="p-orange">{{infoForm.winRate || 0}}%</span></p></el-col>
              <el-col :span="12"><span class="p-grey1 p-justify margin-r20">最大回撤</span><span class="margin-r20"">{{infoForm.maxRetracement || 0}}%</span></el-col>
            </el-row>
          </el-col>
        </el-row>
        <el-row class=" margin-tb10">
          <el-col :span="8"><span class="p-grey1 p-justify margin-r20">累计收益</span><span>{{infoForm.totalIncome || 0}}%</span></el-col>
          <el-col :span="8"><span class="p-grey1 margin-r20">总市值</span><span>{{infoForm.nowAllValue|toThousands}} 元</span></el-col>
          <el-col :span="8"><span class="p-grey1 margin-r20">初始资产</span><span>{{infoForm.initialAssets|toThousands}} 元</span></el-col>
        </el-row>
        <el-row class=" margin-tb10">
          <el-col :span="8"><span class="p-grey1 p-justify margin-r20">月收益</span><span>{{infoForm.monthIncome || 0}}%</span></el-col>
          <el-col :span="8"><span class="p-grey1 margin-r20">总仓位</span><span>{{infoForm.totalPositions || 0}}%</span></el-col>
          <el-col :span="8"><span class="p-grey1 margin-r20">当前资产</span><span>{{infoForm.currentAssets|toThousands}} 元</span></el-col>
        </el-row>
        <el-row class=" margin-tb10">
          <el-col :span="8"><span class="p-grey1 p-justify margin-r20">周收益</span><span>{{infoForm.weekIncome || 0}}%</span></el-col>
          <el-col :span="8"><span class="p-grey1 margin-r20">现金资产</span><span>{{infoForm.cashAssets|toThousands}} 元</span></el-col>
        </el-row>
        <el-row class=" margin-tb10">
          <el-col :span="8"><span class="p-grey1 p-justify margin-r20">日收益</span><span>{{infoForm.income || 0}}%</span></el-col>
          <el-col :span="8"><span class="p-grey1 margin-r20">可用资金</span><span>{{infoForm.availableAssets|toThousands}} 元</span></el-col>
        </el-row>
      </el-col>
    </el-row>
    \x3c!-- 调仓/持仓记录 --\x3e
    <el-row class="border-bottom-grey group-detail-tab">
      <el-row style="margin-bottom:10px;">
        <el-radio-group class="radio-group" v-model="recordType" @change="changeRecordType">
          <el-radio-button label="1">调仓记录</el-radio-button>
          <el-radio-button label="0">持仓证券</el-radio-button>
          <el-radio-button label="2">证券资金流水</el-radio-button>
        </el-radio-group>
        <el-form :inline="true" class="group-form-right j-form" :action="exportUrl">
          <el-form-item>
            <input type="hidden" name="portfolioId"></input>
            <el-button v-on:click="exportExcel" :loading="exportLoading">导出</el-button>
          </el-form-item>
        </el-form>
      </el-row>
      <el-row v-if="recordType==1">
        <el-table v-loading="tclistLoading" :data="tclist" highlight-current-row style="width: 100%;" border>
          <el-table-column prop="entrustTime" label="委托时间" width="150">
          </el-table-column>
          <el-table-column label="委托状态" :formatter="showState">
          </el-table-column>
          <el-table-column prop="createTime" label="成交时间" width="150" :formatter="showTimeTab">
          </el-table-column>
          <el-table-column prop="direction" label="业务名称" :formatter="showDirection">
          </el-table-column>
          <el-table-column prop="stockName" label="证券名称" width="150">
          </el-table-column>
          <el-table-column prop="stockCode" label="证券代码">
          </el-table-column>
          <el-table-column prop="transferPrice" label="委托价格(元)" :formatter="showPrice">
          </el-table-column>
          <el-table-column prop="transferCount" label="委托数量" :formatter="showCount">
          </el-table-column>
          <el-table-column prop="transferAsset" label="委托金额(元)" :formatter="showMoney">
          </el-table-column>
          <el-table-column prop="serviceCharge" label="费用(元)" :formatter="showServiceCharge">
          </el-table-column>
          <el-table-column label="仓位变化" :formatter="showCw" width="150">
          </el-table-column>
        </el-table>
        \x3c!--工具条--\x3e
        <el-col :span="24" class="toolbar">
          <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :page-sizes="pageSizes"
                  :page-size="pageSize"
                  layout="total, sizes, prev, pager, next"
                  :total="total" style="float:right;">
          </el-pagination>
        </el-col>
      </el-row>
      <el-table v-if="recordType==0" v-loading="cclistLoading" :data="cclist" highlight-current-row style="width: 100%;" border>
        <el-table-column prop="stockName" label="证券名称" width="150">
          <template scope="scope">
            <span>{{scope.row.stockName}}<span style="color: red" v-if="scope.row.newPrice == 0">（行情异常）</span></span>
          </template>
        </el-table-column>
        <el-table-column prop="stockCode" label="证券代码">
        </el-table-column>
        <el-table-column prop="" label="证券类别" :formatter="showType">
        </el-table-column>
        <el-table-column prop="positionsAsset" label="持仓市值(元)">
          <template scope="scope">
            <span v-html="toFixedns(scope.row.positionsAsset,'2',false) || 0"></span>
          </template>
        </el-table-column>
        <el-table-column prop="positionRate" label="仓位(%)">
        </el-table-column>
        <el-table-column prop="positions" label="持仓数量">
        </el-table-column>
        <el-table-column prop="availablePositions" label="可用数量">
        </el-table-column>
        <el-table-column prop="transferPrice" label="成本价(元)">
        </el-table-column>
        <el-table-column prop="newPrice" label="现价(元)">
        </el-table-column>
        <el-table-column prop="profit" label="盈亏金额(元)">
        </el-table-column>
        <el-table-column prop="profitRate" label="盈亏率(%)" :formatter="showProfitRate">
        </el-table-column>
        <el-table-column label="操作" fixed="right">
          <template scope="scope">
            <el-button type="text" v-if="scope.row.newPrice == 0" @click="removeProduct(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-col>
        <el-table v-if="recordType==2" v-loading="flowlistLoading" :data="flowList" highlight-current-row style="width: 100%;" border>
          <el-table-column label="发生时间" prop="createTime" style="width:20%;">
          </el-table-column>
          <el-table-column label="业务类型" style="width:20%;" :formatter="businessTypeFormat">
          </el-table-column>
          <el-table-column label="证券名称" prop="stockName" style="width:20%;">
          </el-table-column>
          <el-table-column label="证券代码" prop="stockCode" style="width:20%;">
          </el-table-column>
          <el-table-column label="证券类别" prop="" style="width:20%;" :formatter="showType">
          </el-table-column>
          <el-table-column label="价格(元)" prop="transferPrice" style="width:20%;">
          </el-table-column>
          <el-table-column label="数量" prop="transferCount" style="width:20%;">
          </el-table-column>
          <el-table-column label="金额(元)" prop="moneyAmount" style="width:20%;">
          </el-table-column>
        </el-table>
        \x3c!--工具条--\x3e
        <el-col :span="24" class="toolbar" v-if="recordType==2">
          <el-pagination
                  @size-change="handleSizeChangeFlow"
                  @current-change="handleCurrentChangeFlow"
                  :page-sizes="pageSizesFlow"
                  :page-size="pageSizeFlow"
                  layout="total, sizes, prev, pager, next"
                  :total="totalFlow" style="float:right;">
          </el-pagination>
        </el-col>
      </el-col>

    </el-row>
    \x3c!-- 收益走势/评级 --\x3e
    <el-row class="border-bottom-grey" style="border:1px solid #e3e6ed;">
      <el-col :span="12" class="margin-tb20" style="padding-right:20px;border-right:1px solid #e3e6ed;">
        <el-row style="margin-bottom:20px">收益走势</el-row>
        <el-row style="margin-bottom:10px;">
          <el-radio-group class="radio-group" v-model="incomeType" @change="changeIncomeType">
            <el-radio-button label="month">近1月</el-radio-button>
            <el-radio-button label="threemonth">近3月</el-radio-button>
            <el-radio-button label="year">近1年</el-radio-button>
            <el-radio-button label="all">累计</el-radio-button>
          </el-radio-group>
        </el-row>
        <el-col :span="24">
          <div id="chartLine" style="width:100%; height:350px;"></div>
        </el-col>
      </el-col>
      <el-col :span="12" class="margin-tb20" style="padding-left:20px;">
        <el-row style="margin-bottom:20px">组合评级</el-row>
        <el-col :span="24">
          <div id="chartRadar" style="width:100%; height:350px;"></div>
        </el-col>
        <el-row style="text-align:center">综合评分 ：{{totalGrade}} ({{gradeTime.slice(0,10)}}更新)</el-row>
      </el-col>
    </el-row>


    \x3c!-- 评论 --\x3e
    <el-row class="border-bottom-grey">
      <el-row>
        <span class="group-title-bold">评论（{{totalDiscusses}}）</span>
      </el-row>
      <ul class="comment-list">
        <li v-for="(discuss,discussIndex) in discusses">
          <el-row style="margin:20px 0;" class="hoverGray p10">
            <el-col :span="2"><img :src="showImgTzt(discuss.relativeHeadImgUrl)" @error="imgError(event)" style="width:60px;height:60px;border-radius:60px;border:1px solid #d2d2d2;" /></el-col></el-col>
            <el-col :span="22" >
              <el-row>
                <el-col :span="12">
                  <p style="font-size:16px;">
                    {{discuss.userType!=0?discuss.discussUsername||'--':discuss.mobilecode}} {{discuss.subFlag==1 ? discuss.subMobile + '(马甲)' : ''}}
                    <span class="colorf90">{{discuss.userType == 1 ? '管理人' : ''}}</span>
                    <span class="font-size-12" :class="discuss.status == 1 ? 'color0f0' : discuss.status == 0 ? 'colorf90' : 'colorf00'">
												{{discuss.status == 1 ? '可见' : discuss.status == 0 ? '待审核' : '隐藏'}}
											</span>
                  </p>
                </el-col>
                <el-col :span="12" style="text-align:right;">
                  <el-button v-if="!discuss.topFlag && discuss.status == 1 && (pubUserType >= discuss.userType||pubUserType == 2 || pubUserType == 3) && pubUserType != 0" @click="setTopDiscuss(discussIndex,discuss,'0')">置顶</el-button>
                  <el-button v-if="discuss.topFlag && discuss.status == 1 && (pubUserType >= discuss.userType||pubUserType == 2 || pubUserType == 3) && pubUserType != 0" @click="cancelTopDiscuss(discussIndex,discuss,'0')">取消置顶</el-button>
                  <template v-if="discuss.status == 0 && (discuss.discussUserId != tgUserId || pubUserType == 2) && pubUserType!= 0"">
                  <el-popover placement="bottom" trigger="hover" width="120">
                    <el-button-group>
                      <el-button type="primary" @click="approveDiscuss(discuss.id ,'1')">通过</el-button>
                      <el-button type="primary" @click="approveDiscuss(discuss.id ,'3')">驳回</el-button>
                    </el-button-group>
                    <el-button slot="reference">审核</el-button>
                  </el-popover>
                  </template>
                  <el-button v-if="discuss.status == 1 && ((pubUserType >= discuss.userType && discuss.discussUserId != tgUserId)||pubUserType == 2  || pubUserType == 3) && pubUserType != 0" @click="hideDiscuss(discussIndex,discuss,'0')">隐藏</el-button>
                  <el-button v-if="discuss.status == 3 && ((pubUserType >= discuss.userType && discuss.discussUserId != tgUserId)||pubUserType == 2  || pubUserType == 3) && pubUserType != 0" @click="cancelHideDiscuss(discussIndex,discuss,'0')">可见</el-button>
                  <el-button v-if="(pubUserType == 2 && discuss.status==1) || pubUserType == 3" @click="handleEdit(discuss)">编辑</el-button>
                  \x3c!-- 判断是否本人评论，本人就不进行评论和点赞--\x3e
                  <el-popover
                          placement="bottom"
                          trigger="hover"
                          width="250"
                          v-if="discuss.status==1">
                    <div>
                      <el-button v-if="discuss.discussUserId != tgUserId || pubUserType == 3" @click="handleDiscuss(1,discussIndex,discuss)"><i class="fa fa-comment-o" style="margin-right:10px;"></i>评论 {{discuss.reviewCount}}</el-button>
                      <el-button v-show="discuss.praiseFlag==0" @click="setPraise(1,discussIndex,discuss)"><i class="fa fa-thumbs-o-up" style="margin-right:10px;"></i>点赞 {{discuss.praiseCount}}</el-button>
                      <el-button v-show="discuss.praiseFlag==1" @click="cancelPraise(1,discussIndex,discuss)"><i class="fa fa-thumbs-up" style="margin-right:10px;"></i>取消点赞</el-button>
                    </div>
                    <el-button slot="reference">更多</el-button>
                  </el-popover>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12"><p class="p-grey1" style="line-height:20px;" v-html="hadleTime(discuss.createTime)">{{discuss.createTime.slice(0,10)}}</p></el-col>
              </el-row>
              <el-row class="pT20 imgMax50">
                <p class="p-grey3" v-html="handleText(discuss.content)"></p>
              </el-row>
            </el-col>
          </el-row>
          <vinput
                  :addForm.sync="oneContent"
                  v-if="discuss.isReply"
                  :toolOptions="toolOptions"
                  :id="'addReply'+discussIndex"
                  @textLength="textLength"
                  :quillConfig="quillConfig1"
          >
          </vinput>
          <el-button v-if="discuss.isReply && pubUserType == 3" @click="handleVest('-1',oneContent,1,discussIndex,discuss)" :disabled="sendFlag">发布</el-button>
          <el-button style="margin:10px 0 0 0;" v-show="discuss.isReply  && pubUserType != 3" @click="discussSubmit(oneContent,1,discussIndex,discuss)" :disabled="sendFlag">发布</el-button>
          <el-row v-if="discuss.reviewList.length>0" v-for="(review,reviewIndex) in discuss.reviewList " class="border-top-grey" style="padding:20px 0 20px 60px;background:#f6f6f6;">
            <el-col :span="2"><img :src="showImgTzt(review.relativeHeadImgUrl)" @error="imgError(event)" style="width:44px;height:44px;border-radius:44px;border:1px solid #d2d2d2;" /></el-col></el-col>
            <el-col :span="22">
              <el-row>
                <el-col :span="12">
                  <span>{{review.userType!=0?review.discussUsername:review.mobilecode}}  {{review.subFlag==1 ? review.subMobile + '(马甲)' : ''}}</span>
                  <span class="colorf90">{{review.userType == 1 ? '管理人' : ''}}</span>
                  <span v-if="review.reviewId!=review.firstDiscussId" class="p-grey1">回复</span>
                  <span v-if="review.reviewId!=review.firstDiscussId">{{review.reviewUserType!=0?review.reviewUserName:review.reviewMobilecode}}  {{review.reviewSubFlag==1 ? review.reviewSubFlagMobile + '(马甲)' : ''}}</span>
                  <span class="colorf90">{{review.reviewUserType == 1 ? '管理人' : ''}}</span>
                  <span class="font-size-12" :class="review.status == 1 ? 'color0f0' : review.status == 0 ? 'colorf90' : 'colorf00'">
											{{review.status == 1 ? '可见' : review.status == 0 ? '待审核' : '隐藏'}}
										</span>
                  <span class="p-grey2 pl10">{{hadleTime(review.createTime)}}</span>
                  <el-row class="p-grey3 pT20 imgMax50" v-html="handleText(review.content)"></el-row>
                </el-col>
                <el-col :span="12" style="text-align:right;padding-right:32px;" >
                  <el-button v-if="review.status==1 && ((pubUserType >= review.userType && review.discussUserId != tgUserId) || pubUserType == 2  || pubUserType == 3) && pubUserType != 0" @click="hideDiscuss(discussIndex,review,'1',reviewIndex)">隐藏</el-button>
                  <el-button v-if="review.status == 3 && ((pubUserType >= review.userType && review.discussUserId != tgUserId) || pubUserType == 2 || pubUserType == 3) && pubUserType != 0" @click="cancelHideDiscuss(discussIndex,review,'1',reviewIndex)">可见</el-button>
                  <el-button v-if="(pubUserType == 2 || pubUserType == 3) && review.status==1" @click="handleEdit(review)">编辑</el-button>
                  <el-popover placement="bottom" trigger="hover" width="120" v-if="pubUserType !=0 && review.status==0 && (review.discussUserId != tgUserId || pubUserType == 2)">
                    <el-button-group>
                      <el-button type="primary" @click="approveDiscuss(review.id ,'1')">通过</el-button>
                      <el-button type="primary" @click="approveDiscuss(review.id ,'3')">驳回</el-button>
                    </el-button-group>
                    <el-button slot="reference">审核</el-button>
                  </el-popover>
                  <el-popover
                          placement="bottom"
                          trigger="hover"
                          width="250"
                          v-if="review.status==1">
                    <div>
                      <el-button v-if="review.discussUserId != tgUserId || pubUserType == 3" @click="handleDiscuss(2,discussIndex,discuss,reviewIndex,review)"><i class="fa fa-comment-o" style="margin-right:10px;"></i>评论 {{review.reviewCount}}</el-button>
                      <el-button v-show="review.praiseFlag==0" @click="setPraise(2,discussIndex,discuss,reviewIndex,review)"><i class="fa fa-thumbs-o-up" style="margin-right:10px;"></i>点赞 {{review.praiseCount}}</el-button>
                      <el-button v-show="review.praiseFlag==1" @click="cancelPraise(2,discussIndex,discuss,reviewIndex,review)"><i class="fa fa-thumbs-up" style="margin-right:10px;"></i>取消点赞</el-button>
                    </div>
                    <el-button slot="reference">更多</el-button>
                  </el-popover>
                </el-col>
              </el-row>
            </el-col>
            <vinput
                    v-if="review.isReply"
                    :addForm.sync="towContent"
                    :toolOptions="toolOptions"
                    @textLength="textLength"
                    :id="'addReply'+discussIndex + 'r' + reviewIndex" style="clear:both;overflow:hidden;"
                    :quillConfig="quillConfig2"
            >
            </vinput>
            <el-button v-if="review.isReply && pubUserType == 3" @click="handleVest('-1',towContent,2,discussIndex,discuss,reviewIndex,review)" :disabled="sendFlag">发布</el-button>
            <el-button style="margin:10px 0 0 0;" v-show="review.isReply && pubUserType != 3" @click="discussSubmit(towContent,2,discussIndex,discuss,reviewIndex,review)" :disabled="sendFlag">发布</el-button>
          </el-row>
          <el-row style="margin-bottom:20px;background:#f6f6f6;border-top:1px solid #e3e6ed;padding-left: 60px;" v-show="discuss.reviewHasNextPage"><el-button type="text" @click="getReviewPage(discussIndex)"><i class="fa fa-angle-double-right" style="margin-right:20px;"></i>显示更多回复</el-button></el-row>
        </li>
      </ul>
      <el-row style="text-align:center;margin-bottom:20px;" v-show="hasNextPage"><el-button type="text" @click="getDiscussPage"><i class="fa fa-angle-double-down" style="margin-right:20px;"></i>显示更多评论</el-button></el-row>

      <el-row class="p10">
        <p class="mb15">发布评论</p>
        <vinput
                ref="addComment"
